<ion-header>
  <ion-toolbar color="success">
    <ion-title>Resgata Pet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sobre a empresa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A empresa tem foco na venda de coleiras com códigos QR, que através dele o
      usuário é capaz de cadastrar seu animal em nosso aplicativo, que será
      disponibilizado após a compra da coleira. O software faz a leitura do
      código QR e obtém os dados do animal cadastrado. No aplicativo há uma aba
      com o chat para que a pessoa que encontrou o animal possa entrar em
      contato com o dono.
    </ion-card-content>
  </ion-card>
</ion-content>
